/* Empty. Add your own CSS if you like */

/**********************************************************Common*****************************************************/

.pane, .view {
	background: blueviolet;
}
.bar-header,
.bar-footer {
    border-bottom: none;
    background: transparent;
}

/**********************************************************Common******************************************************/

/***********************************************************home*******************************************************/

.row-container {
	height: 100%;
	padding: 20px 40px;
}

.first-col,
.second-col,
.third-col {
	height: 100%;
	padding: 0;
}
.first-col > div {
	height: 33.333%;
    background: whitesmoke;
    border: 10px solid transparent;
    background-clip: padding-box;
}
.second-col > div {
	height: 100%;
	background: whitesmoke;
	border: 10px solid transparent;
    background-clip: padding-box;
}
.third-col > div:first-child {
	height: 50%;
	background: whitesmoke;
	border: 10px solid transparent;
    background-clip: padding-box;
}
.third-col > .row {
	height: 50%;
    padding: 0;
}
.third-col > .row > .col {
	background: whitesmoke;
	border: 10px solid transparent;
    background-clip: padding-box;
    padding: 0;
}

/***********************************************************home*******************************************************/