/* Empty. Add your own CSS if you like */

/**********************************************************Common*****************************************************/

.pane, .view {
	background: mediumpurple;
}
.bar-header,
.bar-footer {
    border-bottom: none;
    background: transparent;
}

.pane .tvFocus {
	border-color: brown;
}

/**********************************************************Common******************************************************/

/***********************************************************home*******************************************************/

.row-container {
	height: 100%;
	padding: 20px 40px;
}

.first-col,
.second-col,
.third-col {
	height: 100%;
	padding: 0;
}
.first-col > div,
.second-col > div,
.third-col > div:first-child,
.third-col > .row > .col {
	background: whitesmoke;
	border: 10px solid transparent;
	background-clip: padding-box;
}
.first-col > div {
	height: 33.333%;
}
.second-col > div {
	height: 100%;
}
.third-col > div:first-child {
	height: 50%;
}
.third-col > .row {
	height: 50%;
    padding: 0;
}
.third-col > .row > .col {
    padding: 0;
}

/***********************************************************home*******************************************************/

/***********************************************************next*******************************************************/

@media (min-width: 680px) {
    .side-menu {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        min-height: 240px;
        min-width: 300px;
        max-width: 360px;
        width: 35%;
    }
}

.slide-in-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

/***********************************************************next*******************************************************/