<ion-view tv-focus>
    <ion-header-bar>
        <div class="buttons">
            <div class="button" focus-index="1" ng-click="headerBtnLeft()" next-focus-right="2" next-focus-down="3">左侧按钮</div>
        </div>
        <h1 class="title">TV</h1>
        <div class="buttons">
            <div class="button" focus-index="2" next-focus-left="1" next-focus-down="10">右侧按钮</div>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
    	<div class="row row-container">
    		<div class="col first-col">
    			<div focus-index="3" next-focus-right="6" next-focus-down="4" next-focus-up="1" ng-click="goNext()"></div>
    			<div focus-index="4" next-focus-right="6" next-focus-down="5" next-focus-up="3" on-hold="onHold()"></div>
    			<div focus-index="5" next-focus-right="6" next-focus-down="13" next-focus-up="4" ng-click="showConfirm()"></div>
    		</div>
    		<div class="col second-col">
    			<div focus-index="6" next-focus-right="7" next-focus-left="4" next-focus-up="1" next-focus-down="13" tv-focus-init ng-click="showList()"></div>
    		</div>
    		<div class="col third-col">
    			<div focus-index="7" next-focus-right="10" next-focus-left="6" next-focus-up="2" next-focus-down="8" ng-click="goLast()"></div>
    			<div class="row">
    				<div class="col" focus-index="8" next-focus-right="9" next-focus-left="6" next-focus-up="7" next-focus-down="14"></div>
    				<div class="col" focus-index="9" next-focus-right="11" next-focus-left="8" next-focus-up="7" next-focus-down="14"></div>
    			</div>
    		</div>
    		<div class="col third-col">
    			<div focus-index="10" next-focus-left="7" next-focus-up="2" next-focus-down="11"></div>
    			<div class="row">
    				<div class="col" focus-index="11" next-focus-right="12" next-focus-left="9" next-focus-up="10" next-focus-down="14"></div>
    				<div class="col" focus-index="12" next-focus-left="11" next-focus-up="10" next-focus-down="14"></div>
    			</div>
    		</div>
    	</div>
    </ion-content>
    <ion-footer-bar>
        <h1 class="title"></h1>
        <div class="buttons">
        	<div class="button" focus-index="13" next-focus-right="14" next-focus-up="12">左侧按钮</div>
            <div class="button" focus-index="14" next-focus-left="13" next-focus-up="12">右侧按钮</div>
        </div>
    </ion-footer-bar>
</ion-view>
